<!doctype html>
<html class="no-js" lang="en">
  <head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Prosper Pattern Library (<%= @theme %>)</title>
    <%= stylesheet_link_tag "styleguide", "styleguides/#{@theme}" %>
    <link rel="shortcut icon" href="favicon.ico" type="image/x-icon">
    <link rel="icon" href="favicon.ico" type="image/x-icon">
    <%= javascript_include_tag 'styleguide' %>
    <script>
//      $(function() {
//        $(document).foundation();
//      });
    </script>
  </head>

  <body>
    <div class="contain-to-grid">
      <nav class="top-bar" data-topbar role="navigation">
        <ul class="title-area">
          <li class="name">
            <h1><a href="#">Prosper themes</a></h1>
          </li>
          <!-- Remove the class "menu-icon" to get rid of menu icon. Take out "Menu" to just have icon alone -->
          <li class="toggle-topbar menu-icon"><a href="#"><span>Menu</span></a></li>
        </ul>

        <section class="top-bar-section">
          <!-- Right Nav Section -->
          <ul class="right">
            <li class="has-dropdown">
              <a href="#"><%= @theme.capitalize %></a>
              <ul class="dropdown">
                <% theme_names.each do |name| %>
                  <li><a href="<%= styleguide_theme_path theme: name %>"><%= name.capitalize %></a></li>
                <% end %>
              </ul>
            </li>
          </ul>
        </section>
      </nav>
    </div>
    <div class="row">
      <div class="large-3 columns masterside-nav">
        <h1>Prosper Pattern Library</h1>
        <nav>
            <ul class="side-nav" role="navigation" title="Link List">
              <li role="menuitem"><a href="#codestyle">Code Style</a></li>
              <li role="menuitem"><a href="#gridsystem">Grid System</a></li>
              <li role="menuitem"><a href="#typography">Typography</a></li>
              <li role="menuitem"><a href="#colors">Colors</a></li>
              <li role="menuitem"><a href="#forms">Forms, radio and checkboxes</a></li>
              <li role="menuitem"><a href="#validation">Validation</a></li>
              <li role="menuitem"><a href="#buttons">Buttons and Links</a></li>
              <li role="menuitem"><a href="#logo">Logo</a></li>
              <li role="menuitem"><a href="#icons">Icons</a></li>
              <li role="menuitem"><a href="https://github.com/carbonfive/abtstyles">Github Repo</a></li>
            </ul>
        </nav>
      </div>

      <div class="large-9 columns mainsection">

        <h4 class="sectionTitle"><a name="<%= @theme %>"><%= @theme.capitalize %> Design System</a></h4>

            <p>This design system is called <%= @theme.capitalize %>.</p>

        <h4 class="sectionTitle"><a name="codestyle">Code Style</a></h4>

            <p>The beginning of our style guide for the responsive project.  Still needs some polish, but closer to styles we are using for the reskinned funnel.</p>
            <p>For HTML and CSS styles, I refered to the <a href="https://github.com/stubbornella/oocss/wiki" class="link" target="blank">OOCSS documentation</a>, <a href="https://github.com/necolas/idiomatic-css" class="link" target="blank">Idiomatic commenting style</a> and <a href="http://foundation.zurb.com/docs/" class="link" target="_blank">Foundation's documentation</a>.  I tried to camel case all class names, not use any IDs and separate structural elements like containers from skin elements like text and graphics.  Styles in flight, nothing is permanent.</p>

        <h4 class="sectionTitle"><a name="gridsystem">Grid System</a></h4>

        <div class="row">
          <div class="large-12 columns">
            <div class="callout panel">
              <p><strong>We're using <a href="http://foundation.zurb.com/docs/" class="link" target="_blank">Foundation</a> for the basic layout.</strong> This is a twelve column section in a row. Each of these includes a div.panel element so you can see where the columns are - it's not required at all for the grid.</p>
            </div>
          </div>
        </div>
        <div class="row">
          <div class="large-6 medium-6 columns">
            <div class="callout panel">
              <p>Six columns</p>
            </div>
          </div>
          <div class="large-6 medium-6 columns">
            <div class="callout panel">
              <p>Six columns</p>
            </div>
          </div>
        </div>
        <div class="row">
          <div class="large-4 medium-4 small-4 columns">
            <div class="callout panel">
              <p>Four columns</p>
            </div>
          </div>
          <div class="large-4 medium-4 small-4 columns">
            <div class="callout panel">
              <p>Four columns</p>
            </div>
          </div>
          <div class="large-4 medium-4 small-4 columns">
            <div class="callout panel">
              <p>Four columns</p>
            </div>
          </div>
        </div>

        <hr />

        <div class="row">
          <div class="large-12 columns">
            <h4 class="sectionTitle"><a name="typography">Typography</a></h4>
            <h1>H1 Heading Helvetica Neue Bold</h1>
            <h2>H2 Heading Helvetica Neue Regular</h2>
            <h3>H3 Heading Helvetica Neue Regular</h3>
            <!-- <h4>H4 Heading Helvetica Neue Regular</h4>
            <h5>H4 Heading Helvetica Neue Regular</h5>
            <h6>H4 Heading Helvetica Neue Regular</h6> -->
            <p>Paragraph Helvetica Neue Regular</p>
            <label>Labels Helvetica Neue Light</label>
          </div>
        </div>

        <hr />

        <div class="row">
            <div class="large-12 columns">
                <h4 class="sectionTitle"><a name="colors">Base Colors</a></h4>
                <div class="row">
                  <div class="large-4 medium 3 columns">
                    <div class="colorBox colorBaseOne">
                      <p>$colorBaseOne "cyan" #4aa9db</p>
                    </div>
                  </div>
                  <div class="large-4 medium 3 columns">
                    <div class="colorBox colorBaseTwo">
                      <p>$colorBaseTwo "dark blue" #09064d</p>
                    </div>
                  </div>
                  <div class="large-4 medium 3 columns">
                    <div class="colorBox colorBaseThree">
                      <p>$colorBaseThree "dark gray" #414042</p>
                    </div>
                  </div>
                </div>
                <div class="row">
                  <div class="large-4 medium 3 columns">
                    <div class="colorBox colorBaseFour">
                      <p>$colorBaseFour "medium gray" #979797</p>
                    </div>
                  </div>
                  <div class="large-4 medium 3 columns">
                    <div class="colorBox colorAttentionOne">
                      <p>$colorAttentionOne "bright green" #6ac20a</p>
                    </div>
                  </div>
                  <div class="large-4 medium 3 columns">
                    <div class="colorBox colorAttentionTwo">
                      <p>$colorAttentionTwo "bright red" #d0021b</p>
                    </div>
                  </div>
                </div>
                <div class="row">
                  <div class="large-4 medium 3 columns left">
                    <div class="colorBox colorMutedOne">
                      <p>$colorMutedOne "light gray" #f7f7f7</p>
                    </div>
                  </div>
                </div>
            </div>
        </div>

        <div class="row">
            <div class="large-12 columns">
                <h4 class="sectionTitle"><a name="colors">Text Colors</a></h4>
                <div class="row">
                  <div class="large-3 medium 3 columns">
                    <div class="colorBox colorTextOne">
                      <p>$colorTextOne "dark gray" #414042</p>
                    </div>
                  </div>
                  <div class="large-3 medium 3 columns">
                    <div class="colorBox colorTextTwo">
                      <p>$colorTextTwo "white" #fff</p>
                    </div>
                  </div>
                  <div class="large-3 medium 3 columns">
                    <div class="colorBox colorTextThree">
                      <p>$colorTextThree "medium gray" #f7f7f7</p>
                    </div>
                  </div>
                  <div class="large-3 medium 3 columns">
                    <div class="colorBox colorTextFour">
                      <p>$colorTextFour "cyan" #4aa9db</p>
                    </div>
                  </div>
                </div>
                <div class="row">
                  <div class="large-3 medium 3 columns">
                    <div class="colorBox colorTextFive">
                      <p>$colorTextFive "dark blue" #09064d</p>
                    </div>
                  </div>
                  <div class="large-3 medium 3 columns left">
                    <div class="colorBox colorTextSix">
                      <p>$colorTextSix "black" #000</p>
                    </div>
                  </div>
                </div>
            </div>
        </div>

        <div class="row">
            <div class="large-12 columns">
                <h4 class="sectionTitle"><a name="colors">Background Colors</a></h4>
                <div class="row">
                  <div class="large-4 medium 3 columns">
                    <div class="colorBox colorBackgroundOne">
                      <p>$colorBackgroundOne "white" #fff</p>
                    </div>
                  </div>
                  <div class="large-4 medium 3 columns">
                    <div class="colorBox colorBackgroundTwo">
                      <p>$colorBackgroundTwo "cyan" #4aa9db</p>
                    </div>
                  </div>
                  <div class="large-4 medium 3 columns">
                    <div class="colorBox colorBackgroundThree">
                      <p>$colorBackgroundThree "light gray" #f7f7f7</p>
                    </div>
                  </div>
                </div>
                <div class="row">
                  <div class="large-4 medium 3 columns">
                    <div class="colorBox colorBackgroundFour">
                      <p>$colorBackgroundFour "medium gray" #979797</p>
                    </div>
                  </div>
                  <div class="large-4 medium 3 columns left">
                    <div class="colorBox colorBackgroundFive">
                      <p>$colorBackgroundFive "dark blue" #09064d</p>
                    </div>
                  </div>
                </div>
            </div>
        </div>

        <div class="row">
            <div class="large-12 columns">
                <h4 class="sectionTitle"><a name="colors">Border Colors</a></h4>
                <div class="row">
                  <div class="large-4 medium 2 columns">
                    <div class="colorBox colorBorderOne">
                      <p>$colorBorderOne "black" #000</p>
                    </div>
                  </div>
                  <div class="large-4 medium 2 columns">
                    <div class="colorBox colorBorderTwo">
                      <p>$colorBorderTwo "medium gray" #f7f7f7</p>
                    </div>
                  </div>
                  <div class="large-4 medium 2 columns">
                    <div class="colorBox colorBorderThree">
                      <p>$colorBorderThree "dark blue" #09064d</p>
                    </div>
                  </div>
                </div>
                <div class="row">
                  <div class="large-4 medium 2 columns">
                    <div class="colorBox colorBorderFour">
                      <p>$colorBorderFour "cyan" #4aa9db</p>
                    </div>
                  </div>
                  <div class="large-4 medium 2 columns">
                    <div class="colorBox colorBorderFive">
                      <p>$colorBorderFive "light gray" #f7f7f7</p>
                    </div>
                  </div>
                  <div class="large-4 medium 2 columns">
                    <div class="colorBox colorBorderSix">
                      <p>$colorBorderSix "white" #fff</p>
                    </div>
                  </div>
                </div>
            </div>
        </div>

        <div class="row">
            <div class="large-12 columns">
                <h4 class="sectionTitle"><a name="colors">Other Colors</a></h4>
                <div class="row">
                  <div class="large-6 medium 2 columns">
                    <div class="colorBox colorSuccess">
                      <p>$colorSuccess "bright green" #6ac20a</p>
                    </div>
                  </div>
                  <div class="large-6 medium 2 columns">
                    <div class="colorBox colorError">
                      <p>$colorError "bright red" #d0021b</p>
                    </div>
                  </div>
                </div>
            </div>
        </div>



        <hr />
        <div class="row">
          <div class="large-12 columns">
              <h4 class="sectionTitle"><a name="forms">Forms, radio and checkboxes</a></h4>
          </div>
        </div>
        <form class="custom">
          <div class="row">
            <div class="large-12 columns">
              <label>Input Label</label>
              <input type="text" placeholder="large-12.columns" />
            </div>
          </div>
          <div class="row">
            <div class="large-4 medium-4 columns">
              <label>Input Label</label>
              <input type="text" placeholder="large-4.columns" />
            </div>
            <div class="large-4 medium-4 columns">
              <label>Input Label</label>
              <input type="text" placeholder="large-4.columns" />
            </div>
            <div class="large-4 medium-4 columns">
              <div class="row collapse">
                <label>Input Label</label>
                <div class="small-3 columns">
                  <span class="prefix">$</span>
                </div>
                <div class="small-9 columns">
                  <input type="text" placeholder="small-9.columns" />
                </div>
              </div>
            </div>
          </div>
          <div class="row">
            <div class="large-12 columns">
              <label>Select Box</label>
              <select>
                <option value="husker">Husker</option>
                <option value="starbuck">Starbuck</option>
                <option value="hotdog">Hot Dog</option>
                <option value="apollo">Apollo</option>
              </select>
            </div>
          </div>
          <div class="row">
            <div class="large-6 medium-6 columns">
              <label>Radios appear like this</label>
                    <label class="inlinelabel" for="radio1">
                        <input type="radio" name="radio1" style="display:none;"><span class="custom radio"></span>Radio 1
                    </label>
                    <label class="inlinelabel" for="radio2">
                        <input type="radio" name="radio2" style="display:none;"><span class="custom radio on"></span>Radio 2
                    </label>
            </div>
            <div class="large-6 medium-6 columns">
              <label>Checkboxes are like so</label>
              <label class="inlinelabel" for="checkbox1"><input type="checkbox" name="Checkbox 1" style="display:none;"><span class="custom checkbox"></span>Checkbox 1</label>
              <label class="inlinelabel" for="checkbox2"><input type="checkbox" name="Checkbox 2" style="display:none;"><span class="custom checkbox on"></span>Checkbox 2</label>
            </div>
          </div>
        </form>

        <hr />

        <div class="row validation">
            <div class="large-12 columns">
                <h4 class="sectionTitle"><a name="validation">Validation</a></h4>
                <br>
                <form>
                  <div class="row">
                    <div class="large-12 columns">
                        <p>Successful validation</p>
                        <label class="success">Last Name
                            <input type="text" class="success" placeholder="large-12.columns" />
                        </label>
                    </div>
                  </div>
                  <br>
                  <div class="row">
                    <div class="large-12 columns">
                        <p>Error</p>
                        <label class="error">Home Address</label>
                        <input type="text" class="error" placeholder="large-12.columns" />
                        <small class="error">Home address should be a number plus a street name</small>
                    </div>
                  </div>
                  <br>
                  <div class="row">
                    <div class="large-12 columns">
                        <p>Help text</p>
                        <label class="help">Employment Status</label>
                        <select>
                            <option value="">Other</option>
                        </select>
                        <small class="help">"Other" means your main source of income is not from a current job or self-run business. For example, this might be investments, rental property, or retirement.</small>
                        <br>
                    </div>
                  </div>
                  <br>
                  <div class="row">
                      <div class="large-12 columns">
                          <p>Handling errors on submit</p>
                          <div class="callout panel">If a borrower hits submit without correcting errors, form should navigate to the top most field showing the error.  If possible, after that field is validated, it should navigate to the next error.</div>
                      </div>
                  </div>
                </form>
            </div>
        </div>

        <hr />

        <div class="row">
            <div class="large-12 columns">
                <h4 class="sectionTitle"><a name="buttons">Buttons and Links</a></h4>
                <br>
                <div class="row">
                    <div class="large-12columns">
                            <a href="#" class="small round button"><p>Free floating button</p></a>
                    </div>
                </div>
                <br>
                <div class="row">
                    <div class="large-12columns funnelCTA">
                            <a href="#" class="back button"> &nbsp; </a>
                            <a href="#" class="forward button">Get my rate</a>
                    </div>
                </div>
                <br>
                <div class="row">
                    <div class="large-12columns columns">
                        <p>This is how a <a href="#" class="link">link would look</a> when inside a block of text.</p>
                    </div>
                </div>
            </div>
        </div>

        <hr />

        <div class="row">
            <div class="large-12 columns">
                <div class="row">
                    <div class="large-12 columns">
                        <h4 class="sectionTitle"><a name="logo">Logo</a></h4>
                    </div>
                </div>
                <div class="row">
                    <div class="large-6 medium-6 columns">
                        <img src="<%= image_path("/images/shared/logo_prosper.svg") %>" alt="Prosper Logo Dark" >
                     </div>
                     <div class="large-6 medium-6 columns contrastBg">
                        <img src="<%= image_path("/images/shared/logo_prosper_white.svg") %>" alt="Prosper Logo White" >
                     </div>
                </div>
            </div>
        </div>

        <hr />

        <div class="row icons">
            <div class="large-12 columns">
                <h4 class="sectionTitle"><a name="icons">Icons</a></h4>
                <br>
                <div class="row">
                    <div class="large-3 medium-3 columns">
                        <div class="panel">
                            <label>L White Arrow</label>
                            <br>
                            <img src="<%= image_path("/images/shared/themes/#{@theme}/arrow_left_white.svg") %>" alt="Left arrow">
                        </div>
                    </div>
                    <div class="large-3 medium-3 columns">
                        <div class="panel">
                            <label>R White Arrow</label>
                            <br>
                            <img src="<%= image_path("/images/shared/themes/#{@theme}/arrow_right_white.svg") %>" alt="Right arrow">
                        </div>
                    </div>
                    <div class="large-3 medium-3 columns">
                        <div class="panel">
                            <label>L Blue Arrow</label>
                            <br>
                            <img src="<%= image_path("/images/shared/themes/#{@theme}/arrow_left_blue.svg") %>" alt="Left arrow">
                        </div>
                    </div>
                    <div class="large-3 medium-3 columns">
                        <div class="panel">
                            <label>R Blue Arrow</label>
                            <br>
                            <img src="<%= image_path("/images/shared/themes/#{@theme}/arrow_right_blue.svg") %>" alt="Right arrow">
                        </div>
                    </div>
                </div>
                <br>
                <div class="row">
                    <div class="large-3 medium-3 columns">
                        <div class="panel">
                            <label>Dropdown Arrow</label>
                            <br>
                            <img src="<%= image_path("/images/shared/themes/#{@theme}/arrow_down_dark_blue.svg") %>" alt="Dropdown Arrow">
                        </div>
                    </div>
                    <div class="large-3 medium-3 columns">
                        <div class="panel">
                            <label>Checkbox Check</label>
                            <br>
                            <img src="<%= image_path("/images/shared/themes/#{@theme}/icon_check_blue.svg") %>" alt="Checkbox">
                        </div>
                    </div>
                    <div class="large-3 medium-3 columns">
                        <div class="panel">
                            <label>Success Check</label>
                            <br>
                            <img src="<%= image_path("/images/shared/icon_success_check.svg") %>" alt="Success Check">
                        </div>
                    </div>
                    <div class="large-3 medium-3 columns">
                        <div class="panel">
                            <label>Error X</label>
                            <br>
                            <img src="<%= image_path("/images/shared/icon_error_x.svg") %>" alt="Error X">
                        </div>
                    </div>
                </div>
                <br>
                <div class="row">
                    <div class="large-3 medium-3 columns">
                        <div class="panel">
                            <label>Security Lock</label>
                            <br>
                            <img src="<%= image_path("/images/shared/icon_lock.svg") %>" alt="Security Lock">
                        </div>
                    </div>
                    <div class="large-3 medium-3 columns">
                        <div class="panel">
                            <label>Facebook</label>
                            <br>
                            <img src="<%= image_path("/images/shared/themes/#{@theme}/icon_facebook.svg") %>" alt="Facebook">
                        </div>
                    </div>
                    <div class="large-3 medium-3 columns">
                        <div class="panel">
                            <label>Twitter</label>
                            <br>
                            <img src="<%= image_path("/images/shared/themes/#{@theme}/icon_twitter.svg") %>" alt="Twitter">
                        </div>
                    </div>
                    <div class="large-3 medium-3 columns">
                        <div class="panel">
                            <label>LinkedIn</label>
                            <br>
                            <img src="<%= image_path("/images/shared/themes/#{@theme}/icon_linkedin.svg") %>" alt="LinkedIn">
                        </div>
                    </div>
                </div>
                <br>
            </div>
        </div>
      </div>
    </div>
  </body>
</html>
